@page
@model FreshFarmMarket.Pages.Register
@{
}
<form id="registration_form" enctype="multipart/form-data" method="post">
  <div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h2>Register</h2>
    <br />
    <div class="col-md-8">
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.FullName"></label>
        <input id="fullname_input" class="form-control" aria-required="true" asp-for="registerModel.FullName" />
        <span id="fullname_validation" class="text-danger" asp-validation-for="registerModel.FullName"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.CreditCardNo"></label>
        <input id="creditcardno_input" class="form-control" aria-required="true" asp-for="registerModel.CreditCardNo" />
        <span id="creditcardno_validation" class="text-danger" asp-validation-for="registerModel.CreditCardNo"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.Gender"></label>
        <div>
          @Html.RadioButtonFor(model => model.registerModel.Gender, "M", new {
          @class = "form-check-input", @checked = true })
          <label>Male</label>
          <br />
          @Html.RadioButtonFor(model => model.registerModel.Gender, "F", new {
          @class = "form-check-input" })
          <label>Female</label>
        </div>
        <span asp-validation-for="registerModel.Gender" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.MobileNo"></label>
        <input id="mobileno_input" class="form-control" aria-required="true" asp-for="registerModel.MobileNo" />
        <span id="mobileno_validation" class="text-danger" asp-validation-for="registerModel.MobileNo"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.DeliveryAddress"></label>
        <input class="form-control" aria-required="true" asp-for="registerModel.DeliveryAddress" />
        <span class="text-danger" asp-validation-for="registerModel.DeliveryAddress"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.Email"></label>
        <input id="email_input" class="form-control" aria-required="true" type="email" asp-for="registerModel.Email" />
        <span id="email_validation" class="text-danger" asp-validation-for="registerModel.Email"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.Password"></label>
        <input id="password_input" class="form-control" aria-required="true" asp-for="registerModel.Password" />
        <span id="password_validation" class="text-danger" asp-validation-for="registerModel.Password"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.ConfirmPassword"></label>
        <input class="form-control" aria-required="true" asp-for="registerModel.ConfirmPassword" />
        <span class="text-danger" asp-validation-for="registerModel.ConfirmPassword"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="PhotoUpload">Upload Photo</label>
        <input type="file" class="form-control" accept="image/jpg" asp-for="PhotoUpload" />
        <span asp-validation-for="PhotoUpload" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.Role"></label>
        <div>
          @Html.RadioButtonFor(model => model.registerModel.Role, "Ravenclaw", new {
          @class = "form-check-input", @checked = true })
          <label>Ravenclaw</label>
          <br />
          @Html.RadioButtonFor(model => model.registerModel.Role, "Gryffindor", new {
          @class = "form-check-input" })
          <label>Gryffindor</label>
          <br />
          @Html.RadioButtonFor(model => model.registerModel.Role, "Slytherin", new {
          @class = "form-check-input" })
          <label>Slytherin</label>
        </div>
        <span asp-validation-for="registerModel.Role" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="col-form-label" asp-for="registerModel.AboutMe"></label>
        <input class="form-control" aria-required="true" asp-for="registerModel.AboutMe" />
        <span class="text-danger" asp-validation-for="registerModel.AboutMe"></span>
      </div>
    </div>
    <button id="register_btn" type="button" class="btn btn-lg btn-primary">
      Register
    </button>
  </div>
</form>

@section Scripts {
<script>
  $(document).ready(() => {
    const FullNameRegex = new RegExp("[A-z\\s]+");
    const CreditCardNoRegex = new RegExp("^[0-9]{16}$");
    const MobileNoRegex = new RegExp("^[0-9]{8}$");
    const EmailRegex =
      /^[a-z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?(?:\.[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?)*$/;
    const PasswordRegex = new RegExp(
      "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[$@@$!%*?&])[A-Za-z\\d$@@$!%*?&]{12,}$"
    );

    $("#register_btn").click(() => {
      const isValidFullname = FullNameRegex.test($("#fullname_input").val().trim());
      const isValidCreditCardNo = CreditCardNoRegex.test($("#creditcardno_input").val());
      const isValidMobileNo = MobileNoRegex.test($("#mobileno_input").val());
      const isValidEmail = EmailRegex.test($("#email_input").val());
      const isValidPassword = PasswordRegex.test($("#password_input").val());

      if (isValidFullname && isValidCreditCardNo && isValidMobileNo && isValidEmail && isValidPassword) {
        $("#registration_form").submit();
      } else {
        if (!isValidFullname) {
          $("#fullname_validation").text(
            "Please enter name with only alphabets and spaces."
          );
        }
        if (!isValidCreditCardNo) {
          $("#creditcardno_validation").text(
            "Please enter credit card number in 16 digits format."
          );
        }
        if (!isValidMobileNo) {
          $("#mobileno_validation").text(
            "Please enter mobile number in 8 digits format."
          );
        }
        if (!isValidEmail) {
          $("#email_validation").text("Please enter email in valid format");
        }
        if (!isValidPassword) {
          $("#password_validation").text(
            "Please enter password with minimum 12 characters (at least one upper case, at least one lower case, at least one digit, at least one special character (#?!@@$%^&*-)"
          );
        }
      }
    });
  });
</script>
}